html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

html {
    background-color: rgba(0, 0, 0, 0.9);
}

html, input, button, select, textarea {
    font-family: 'Proxima Nova Condensed', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

div.user-interface {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    image-rendering: pixelated; /* Permet d'avoir une image pixelisée */
    /* Dimensionne le canvas à 800x800 pixels */
    /* Vous pouvez ajuster cette taille selon vos besoins */
    /* Cela double la taille des pixels */
    /* 800 = 2 * 400 */
    /* Si vous voulez un autre ratio, vous pouvez modifier ces valeurs */
    /* Par exemple, pour tripler la taille des pixels, vous pouvez utiliser 1200x1200 */
    /* 1200 = 3 * 400 */
    /* Pour quadrupler la taille des pixels, vous pouvez utiliser 1600x1600, etc. */
    width: 1280px;
    height: 720px;
}