div.user-interface div.toolbox {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 3%;
    width: 12.5%;
    padding: 3px;
}

div.user-interface div.toolbox div.inner {
    border: 1px solid white;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

div.user-interface div.toolbox div.tool_button {
    border: 1px solid white;
    width: 20%;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


div.user-interface div.toolbox div.tool_button#disconnect {
    position: relative;
}

div.user-interface div.toolbox div.tool_button#disconnect img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    filter: invert(100%);
}